<h2><%=h experiment.name %> <span class="type">(<%= experiment.class.friendly_name %>)</span></h2>
<p class="description"><%=h experiment.description.to_s %></p>
<%= render Vanity.template(experiment.type), experiment: experiment %>
<p class="meta">Started <%= experiment.created_at.strftime("%a, %b %-d") %>
  <%= " | Completed #{experiment.completed_at.strftime("%a, %b %-d")}" unless experiment.active? %></p>
