<h3><%=vanity_h experiment.name %> <span class="type">(<%= experiment.class.friendly_name %>)</span></h3>
<%= experiment.description.to_s.split(/\n\s*\n/).map { |para| vanity_html_safe(%{<p class="description">#{vanity_h para}</p>}) }.join.html_safe %>
<%= button_to "Reset", { :action => "reset", :e => experiment.id },
  :onclick => "return confirm('Are you sure you want to reset the experiment? This cannot be undone.')", :method => :post %>
<%= render :file => Vanity.template("_" + experiment.type), :locals => {:experiment => experiment} %>
<p class="meta">Started <%= experiment.created_at.strftime("%a, %b %d") %>
  <%= " | Completed #{experiment.completed_at.strftime("%a, %b %d")}" unless experiment.active? %></p>
