<h3><%=h experiment.name %> <span class="type">(<%= experiment.class.friendly_name %>)</span></h3>
<% experiment.description.to_s.split(/\n\s*\n/).each do |para| %>
  <p class="description"><%= h para %></p>
<% end %>
<%= render :file=>Vanity.template("_#{experiment.type}"), :locals=>{:experiment=>experiment} %>
<p class="meta"><%= "Started #{experiment.created_at.strftime("%a, %b %d")}" if experiment.created_at %>
  <%= " | Completed #{experiment.completed_at.strftime("%a, %b %d")}" unless experiment.active? %></p>
