<% if experiment.active? %>
  <% status = experiment.enabled? ? 'status_enabled' : 'status_disabled' %>
<% else %>
  <% status = 'status_completed' %>
<% end %>
<div class="inner <%= status %>">
<h3>
  <%=vanity_h experiment.name %><span class="type">(<%= experiment.class.friendly_name %>)</span>
  <% if experiment.type == 'ab_test' && experiment.active? && experiment.playground.collecting? %>
    <span class='enabled-links'>
      <% action = experiment.enabled? ? 'Disable' : 'Enable' %>
      
      <% if experiment.enabled? %> Enabled | <% end %>
      <a title='<%=action%> this experiment.' href='#'
         data-id='<%= experiment.id %>' data-url='<%= url_for(:action=>action.downcase.to_sym, :e => experiment.id) %>'>
        <%= action %></a>
      <% if !experiment.enabled? %> | Disabled <% end %>
      
    </span>
  <% end %>
</h3>
<%= experiment.description.to_s.split(/\n\s*\n/).map { |para| vanity_html_safe(%{<p class="description">#{vanity_h para}</p>}) }.join.html_safe %>
<p class="metric_count">Metrics: 
  <% experiment.metrics.each_with_index do |metric,i| %><%= i==0 ? metric.name : ", #{metric.name}"%><% end %>
</p>
<%= render :file => Vanity.template("_" + experiment.type), :locals => {:experiment => experiment} %>
<p class="meta">Started <%= experiment.created_at.strftime("%a, %b %d") %>
  <%= " | Completed #{experiment.completed_at.strftime("%a, %b %d")}" unless experiment.active? %>
  <% if experiment.playground.collecting? && respond_to?(:url_for) %>
    <button class="reset" title="Restart this experiment from scratch" href="#"
      data-id="<%= experiment.id %>" data-url="<%= url_for(:action=>:reset, :e=>experiment.id) %>">Reset Experiment</button>
  <% end %>
</p></div>
