<h3><%=vanity_h experiment.name %> <span class="type">(<%= experiment.class.friendly_name %>)</span></h3>
<%= experiment.description.to_s.split(/\n\s*\n/).map { |para| vanity_html_safe(%{<p class="description">#{vanity_h para}</p>}) }.join.html_safe %>
<%= render :file => Vanity.template("_" + experiment.type), :locals => {:experiment => experiment} %>
<p class="meta">
  <%= t('vanity.started_at', :timestamp=>l(experiment.created_at, :format=>'%a, %b %d')) %>
  <%= ' | '+t('vanity.completed_at', :timestamp=>l(experiment.completed_at, :format=>'%a, %b %d')) unless experiment.active? %>
</p>
