<ul class="metrics">
  <% metrics.sort_by { |id, metric| metric.name }.each do |id, metric| %>
    <li class="metric" id="metric_<%= id %>">
      <%= render Vanity.template("metric"), :id=>id, :metric=>metric %>
    </li>
  <% end %>
</ul>
<form id="milestones">
  <% experiments.each do |id, experiment| %>
    <label><input type="checkbox" name="milestone" data-start="<%= experiment.created_at.httpdate %>"
      data-end="<%= (experiment.completed_at || Time.now).httpdate %>"><%=h experiment.name %></label>
  <% end %>
</form>
