<html>
  <head>
    <title>Experiments (<%= Time.now %>)</title>
    <style>
      .vanity { margin: 2em auto; width: 40em; font-family: "Helvetica Neue", "Helvetica", "Verdana", sans-serif }
      .vanity h1 { margin: 1em 0; border-bottom: 3px solid #ccc }
      <%= File.read(Vanity.template("vanity.css")) %>
    </style>
    <script language="javascript" type="text/javascript"><%= File.read(Vanity.template("jquery.min.js")) %></script>
    <script language="javascript" type="text/javascript"><%= File.read(Vanity.template("jquery.flot.min.js")) %></script>
  </head>
  <body>
    <div class="vanity">
      <h1>Experiments</h1>
      <%= render Vanity.template("experiments"), experiments: Vanity.playground.experiments %>
    </div>
  </body>
</html>
